{% extends 'MasterPage.html' %}

{% block content %}
    <h1>{% block title %} Proveedores {% endblock %}</h1>
{% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provedores</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/proveedores.css">
    <link rel="stylesheet" href="css/variables.css">
    <script src="https://kit.fontawesome.com/1c83c64050.js" crossorigin="anonymous"></script>

</head>
<div class="division"></div>
<body>
    <header>
        <div class="encabezado">
            <div class="title">
                <h1>Proveedores</h1>
            </div>
            <div class="btn">
                <button type="button">Añadir proveedor +</button>
            </div>
        </div>
    </header>
    <section>
        <div class="row">
            <article>
                <div class="container">
                    <div class="supplier_img">
                        <img src="assets/proveedores.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="text">
                            <h3>Nombre de proveedor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis fermentum. Nulia dapibus at arcu ac iaculis.
                            </p>
                        </div>
                        <div class="buttons">
                            <div class="remove">
                                <a href="#" >
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <div class="edit">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>    
        
            <article>
                <div class="container">
                    <div class="supplier_img">
                        <img src="assets/proveedores.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="text">
                            <h3>Nombre de proveedor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis fermentum. Nulia dapibus at arcu ac iaculis.
                            </p>
                        </div>
                        <div class="buttons">
                            <div class="remove">
                                <a href="#" >
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <div class="edit">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </article>   
        </div>
        <div class="row">
            <article>
                <div class="container">
                    <div class="supplier_img">
                        <img src="assets/proveedores.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="text">
                            <h3>Nombre de proveedor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis fermentum. Nulia dapibus at arcu ac iaculis.
                            </p>
                        </div>
                        <div class="buttons">
                            <div class="remove">
                                <a href="#" >
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <div class="edit">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>    
        
            <article>
                <div class="container">
                    <div class="supplier_img">
                        <img src="assets/proveedores.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="text">
                            <h3>Nombre de proveedor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis fermentum. Nulia dapibus at arcu ac iaculis.
                            </p>
                        </div>
                        <div class="buttons">
                            <div class="remove">
                                <a href="#" >
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <div class="edit">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </article>   
        </div>
        <div class="row">
            <article>
                <div class="container">
                    <div class="supplier_img">
                        <img src="assets/proveedores.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="text">
                            <h3>Nombre de proveedor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis fermentum. Nulia dapibus at arcu ac iaculis.
                            </p>
                        </div>
                        <div class="buttons">
                            <div class="remove">
                                <a href="#" >
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <div class="edit">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>    
        
            <article>
                <div class="container">
                    <div class="supplier_img">
                        <img src="assets/proveedores.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="text">
                            <h3>Nombre de proveedor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis fermentum. Nulia dapibus at arcu ac iaculis.
                            </p>
                        </div>
                        <div class="buttons">
                            <div class="remove">
                                <a href="#" >
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <div class="edit">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </article>   
        </div>
    </section>
</body>
</html>
