@import url(variables.css);
body {
    background: var(--color-fondo);
}

.contenedor-editar-listas {
    font: var(--fuente-texto);
    background: var(--color-blanco-fondo);
    box-shadow: var(--sombra-contenedores);
    border-radius: var(--radio-contenedor-grande);
    width: 80%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    margin: 55px auto;
    align-content: center;
}

.titulo-editar-listas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--fuente-sub-titulo);
    color: var(--color-usuario);
    padding: 0 50px;
    border-bottom: 1px solid var(--color-usuario);
}

.agrega-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--fuente-sub-titulo);
    color: var(--color-usuario);
    padding: 0 50px;
    border-bottom: 1px solid var(--color-usuario);
}

.subtitulos {
    display: grid;
    grid-template-columns: 1fr 0.56fr 1fr;
    margin: 0px 50px;
    padding: 5px 15px;
    align-items: center;
    justify-items: stretch;
    border-bottom: 1px solid var(--color-gris);
}

.subtitulos h4 {
    font: var(--fuente-sub-titulo);
    color: var(--color-gris);
}

.anadir {
    background: var(--color-usuario);
    color: var(--color-blanco);
    border: none;
    padding: 0 15px;
    height: 40px;
    min-width: 140px;
    border-radius: var(--radio-boton);
    font: var(--fuente-texto);
}

.anadir:hover {
    background: var(--color-gris);
    color: var(--color-usuario);
    border: var(--border-boton-cancelar-usuario);
    cursor: pointer;
}

.search {
    height: 45px;
    color: var(--color-gris);
    background: var(--color-fondo);
    border: var(--boder-inputs);
    border-left: none;
    padding-left: 10px;
}

.detallado {
    display: grid;
    grid-template-columns: 22px 1.5fr 0.7fr 1fr 0.5fr;
    border-radius: var(--radio-input);
    margin: 0px 50px;
    padding: 5px 15px;
    align-items: center;
}

.detallado p {
    font: var(--fuente-sub-titulo);
    color: var(--color-gris);
}

.point {
    height: 20px;
    width: 20px;
    background-color: var(--color-usuario);
    border-radius: 50%;
    justify-self: center;
}

.opciones {
    display: flex;
    font-family: "icomoon";
    justify-content: end;
}

.boton-eliminar::after {
    content: "\e9ac";
    color: var(--color-usuario)
}


/* COLORES PARA ADMIN Y SUPERADMIN */

.sidebar,
.container-tipo-de-busqueda .select-box .options-container,
.container-tipo-de-busqueda .selected {
    background-color: var(--color-usuario);
    /* TEMPORAL, SOLO ADMIN */
}

.abrir-cerrar,
.container-tipo-de-busqueda .select-box .option:hover {
    color: var(--color-usuario);
}