@import url(variables.css);

body{
    background: var(--color-fondo);
}
.encabezado-inicio .titulo{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 50px;
}

.encabezado-inicio .titulo h1{
    font: var(--fuente-titulo);
    margin: 0;
    white-space: pre;
}
.encabezado-inicio .titulo span{
    font: var(--fuente-titulo);
    margin: 0;
    white-space: pre;
    color: var(--color-usuario);
}

/* CONFIGURACION ULTIMOS PRODUCTOS AGREGADOS */
.section-index h2{
    font: var(--fuente-sub-titulo);
    color:var(--color-usuario);
}

.ultimos-productos-titulo, .ultimos-proveedores-titulo{
    background: var(--color-blanco-fondo);
    box-shadow: var(--sombra-contenedores);
    border-radius: var(--radio-input);
    width: 85%;
    height: 50px;
    display: grid;
    align-content: center;
    padding-left: 20px;
}
.ultimos-productos-titulo{
    margin: 60px auto 20px;
}

.ultimos-proveedores-titulo{
    margin: 20px auto 20px;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.contenedor-ultimos{
    background: var(--color-blanco-fondo);
    box-shadow: var(--sombra-contenedores);
    border-radius: var(--radio-contenedor-grande);
    width: 300px;
    height: 100px;
    display: grid;
    margin: 20px auto 0px;
    padding: 20px;
    font: var(--fuente-texto);
    display: flex;
}

#name{
    font-weight: bold;
}


.imagen img{
    width: 150px;
    border-radius: 20px;
}


.informacion{
    margin-left: 10px;
    display: grid;
    align-content: center;
}
.disponible{
    display: flex;
    align-items: center;
    
}
.disponible p{
    margin: 0px;
}


/* FIN CONFIGURACION ULTIMOS PRODUCTOS AGREGADOS */