@import url(variables.css);
body {
    background: var(--color-fondo);
}


/* CONFIGURACION ENCABEZADO USUARIOS */

.encabezado-listas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--fuente-sub-titulo);
    color: var(--color-usuario);
    padding: 0 50px;
}

.anadir {
    background: var(--color-usuario);
    color: var(--color-blanco);
    border: none;
    padding: 0 15px;
    height: 58px;
    min-width: 156px;
    border-radius: var(--radio-boton);
    font: var(--fuente-sub-titulo);
}

.anadir:hover {
    background: var(--color-gris);
    color: var(--color-usuario);
    border: var(--border-boton-cancelar-usuario);
    cursor: pointer;
}


/* FIN ENCABEZADO */


/* COLORES PARA ADMIN Y SUPERADMIN */

.sidebar,
.container-tipo-de-busqueda .select-box .options-container,
.container-tipo-de-busqueda .selected {
    background-color: var(--color-usuario);
    /* TEMPORAL, SOLO ADMIN */
}

.abrir-cerrar,
.container-tipo-de-busqueda .select-box .option:hover {
    color: var(--color-usuario);
}


/* FIN COLORES ADMIN Y SUPERADMIN */


/* SEGUNDO ENCABEZADO, PARA TITULO DESCRIPTIVOS */

.titulos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    background: var(--color-blanco-fondo);
    box-shadow: var(--sombra-contenedores);
    border-radius: var(--radio-input);
    margin: 30px 50px 10px 50px;
    padding: 5px 15px;
    align-items: center;
    justify-items: stretch;
}

.titulos h2 {
    font: var(--fuente-sub-titulo);
    color: var(--color-usuario);
}

.titulos .col-cant h2 {
    font: var(--fuente-sub-titulo);
    color: var(--color-gris);
}

.subtitulos {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    margin: 0px 50px;
    padding: 5px 15px;
    align-items: center;
    justify-items: stretch;
    border-bottom: 1px solid var(--color-gris);
}

.subtitulos h2 {
    font: var(--fuente-sub-titulo);
    color: var(--color-gris);
}

.detallado {
    display: grid;
    grid-template-columns: 22px 1.5fr 1fr 1fr 1fr;
    border-radius: var(--radio-input);
    margin: 0px 50px;
    padding: 5px 15px;
    align-items: center;
}

.point {
    height: 20px;
    width: 20px;
    background-color: var(--color-usuario);
    border-radius: 50%;
    justify-self: center;
}

.producto {
    margin-left: 10px;
}

.cant {
    margin-left: 25px;
}

.sdetallado h2 {
    font: var(--fuente-sub-titulo);
    color: var(--color-negro);
}

.contenedor-detallado {
    font: var(--fuente-texto);
}


/*  */

.nombre {
    display: flex;
    align-items: center;
}

.nombre img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: var(--radio-contenedor);
}


/* FIN CONFIGURACION TITULO */


/* CONFIGURACION BOTON EDITAR Y ELIMINAR */

.opciones {
    display: flex;
    font-family: "icomoon";
    justify-content: end;
}

.boton-editar::after {
    content: "\e905";
    color: white;
}

.boton-eliminar::after {
    content: "\e9ac";
    color: var(--color-usuario)
}

.boton-editar {
    background: var(--color-usuario);
    border-radius: var(--radio-input);
    padding: 10px;
    margin-left: 10px;
    border: var(--border-boton-cancelar-usuario);
}

.boton-editar:hover {
    background: var(--color-gris);
}

.boton-eliminar {
    background: var(--color-blanco);
    border-radius: var(--radio-input);
    padding: 10px;
    border: var(--border-boton-cancelar-usuario);
}

.boton-eliminar:hover {
    background: var(--color-gris);
}


/* FIN BOTON EDITAR Y ELIMINAR */


/* INCIO BARRA DE BUSQUEDA */
.envioLista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font: var(--fuente-texto);
    box-shadow: var(--sombra-contenedor-titulo);
    padding: 10px 20px;
}
.envioLista h2{
    color: var(--color-gris);
}

.envioLista form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

.envioLista-busqueda{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}

.envioLista-busqueda input {
    max-width: 700px;
    min-width: 300px;
    height: 45px;
    color: var(--color-gris);
    background: var(--color-fondo);
    border: var(--boder-inputs);
    padding-left: 10px;    
    border-radius: 5px 0 0 5px;
    margin-right: 5px;
}

.envioLista input[type="submit"] {
    height: 45px;
    color: var(--color-blanco);
    background: var(--color-usuario);
    border: var(--boder-inputs);
    padding: 0px 20px;
    border-radius: 0 5px 5px 0;
}

/* FIN BARRA DE BUSQUEDA */