@import url(variables.css);
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?2wkt35');
    src: url('../fonts/icomoon.eot?2wkt35#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?2wkt35') format('truetype'), url('../fonts/icomoon.woff?2wkt35') format('woff'), url('../fonts/icomoon.svg?2wkt35#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?2wkt35');
    src: url('../fonts/icomoon.eot?2wkt35#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?2wkt35') format('truetype'), url('../fonts/icomoon.woff?2wkt35') format('woff'), url('../fonts/icomoon.svg?2wkt35#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

body {
    background: var(--color-fondo);
}

#abrir-menu {
    margin: 20px;
}

#cerrar {
    display: none;
}


/* CONFIGURACION DEL SIDEBAR */

.sidebar {
    font: var(--fuente-texto);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-usuario);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.sidebar .region-user,
.sidebar .region-funciones,
.sidebar .region-cuenta {
    margin: 20px;
    display: inline-block;
}

.sidebar .region-user {
    border-bottom: 3px solid var(--color-blanco);
}

.sidebar .region-cuenta {
    border-top: 3px solid var(--color-blanco);
    padding-top: 20px;
    margin-top: 0;
}

.sidebar .region-funciones .home,
.sidebar .region-funciones .productos,
.sidebar .region-funciones .listas,
.sidebar .region-funciones .usuarios,
.sidebar .region-funciones .proveedores,
.sidebar .region-cuenta .config,
.sidebar .region-cuenta .logout {
    margin: 10px;
}

.sidebar ul,
.sidebar li {
    margin: 0;
    padding: 0;
    list-style: none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width: 240px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: var(--color-blanco);
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--color-usuario);
    background-color: var(--color-blanco);
}

.sidebar .region-user {
    height: fit-content;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-blanco);
}

.sidebar .region-user img {
    width: 109px;
    height: 109px;
    border-radius: 59px;
}

.sidebar .region-user .nombre-user {
    margin-bottom: 10px;
}

.sidebar .region-funciones,
.sidebar .region-cuenta {
    margin: 0 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar .region-funciones .home::before {
    font-family: "icomoon";
    content: "\e900";
    margin-right: var(--separacion-icono-texto);
}

.sidebar .region-funciones .productos::before {
    font-family: "icomoon";
    content: "\e93a";
    margin-right: var(--separacion-icono-texto);
}

.sidebar .region-funciones .listas::before {
    font-family: "icomoon";
    content: "\e9ba";
    margin-right: var(--separacion-icono-texto);
}

.sidebar .region-funciones .usuarios::before {
    font-family: "icomoon";
    content: "\e972";
    margin-right: var(--separacion-icono-texto);
}

.sidebar .region-funciones .proveedores::before {
    font-family: "icomoon";
    content: "\e976";
    margin-right: var(--separacion-icono-texto);
}

.sidebar .region-cuenta .config::before {
    font-family: "icomoon";
    content: "\e994";
    margin-right: var(--separacion-icono-texto);
}

.sidebar .region-cuenta .logout::before {
    font-family: "icomoon";
    content: "\e9b6";
    margin-right: var(--separacion-icono-texto);
}


/* FIN CONFIGURACION DEL SIDEBAR */


/* CONFIGURACION DEL HEADER */

.principal {
    box-shadow: var(--sombra-contenedor-titulo);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--color-fondo);
    overflow: hidden;
    align-items: top;
    padding: 0;
    font: var(--fuente-texto);
}

.abrir-cerrar {
    text-decoration: none;
    color: var(--color-usuario);
    font-size: 30px;
    margin-left: 2px;
}

.abrir-cerrar::before {
    font-family: "icomoon";
    content: "\e9bd";
}

.buscar {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

#lupa {
    padding: 10px 13px 0px 15px;
    border: var(--boder-inputs);
    height: 33px;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    color: var(--color-gris);
}

.buscar .search {
    height: 45px;
    color: var(--color-gris);
    background: var(--color-fondo);
    border: var(--boder-inputs);
    border-left: none;
    padding-left: 10px;
}

.encabezado .buscar #search:focus~i {
    border-color: var(--color-gris);
}

.encabezado .buscar #search:focus {
    border-color: var(--color-gris);
    outline: none;
}

.container-tipo-de-busqueda .select-box {
    display: flex;
    width: 175px;
    flex-direction: column;
}

.container-tipo-de-busqueda .select-box .options-container {
    background: var(--color-usuario);
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.container-tipo-de-busqueda .selected {
    background: var(--color-usuario);
    border-radius: 0px 8px 8px 0px;
    margin-bottom: 8px;
    color: var(--color-blanco);
    position: relative;
    order: 0;
}

.container-tipo-de-busqueda .selected::after {
    content: "";
    background: url("../images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 5px;
    top: 8px;
    transition: all 0.4s;
}

.container-tipo-de-busqueda .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.container-tipo-de-busqueda .select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.container-tipo-de-busqueda .select-box .options-container::-webkit-scrollbar {
    display: none;
}

.container-tipo-de-busqueda .select-box .options-container::-webkit-scrollbar-thumb {
    background: var(--color-gris);
    border-radius: 0 8px 8px 0;
}

.container-tipo-de-busqueda .select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.container-tipo-de-busqueda .select-box .option:hover {
    background: var(--color-blanco);
    color: var(--color-usuario);
}

.container-tipo-de-busqueda .select-box label {
    cursor: pointer;
}

.container-tipo-de-busqueda .select-box .option .radio {
    display: none;
}

header .encabezado .logo {
    margin-top: 25px;
}

header .encabezado .logo img {
    width: 150px;
}


/* INICIO STYLE USER */


/* 
 .info-user .avatar img {
    width: 100px;
}

.info-user {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #4b4e4e;
    ;
} 

.info-cuenta {
    display: inline;
}  */


/* FIN STYLE USER */

.header-paginas {
    box-shadow: var(--sombra-contenedor-titulo);
    position: initial;
    width: 100%;
    /* background: var(--color-blanco-fondo); */
    z-index: 1;
}