@import url(variables.css);

body{
    background: var(--color-fondo);
}

.contenedor-usuario{
    font: var(--fuente-texto);
    background: var(--color-blanco-fondo);
    box-shadow: var(--sombra-contenedores);
    border-radius: var(--radio-contenedor-grande);
    width: 85%;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 60px auto;
    align-content: center;
}

/* CONFIGURACION DEL LADO DE LA IMAGEN */
.info-user{
    justify-self: center;
    border-right: 3px solid var(--color-usuario);
    /* height: 640px; */
    width: 100%;
}

.info-user .avatar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.info-user .avatar .imagen-usuario{
    width: 215px;
    height: 215px;
} 

.info-user .avatar .imagen-usuario img{
    width: 100%;
    align-content: center;
    border-radius: 100px;
}
/* FIN CONFIGURACION DEL LADO DE LA IMAGEN */
/* CONFIGURACION DE DATOS */
.info-cuenta{
    margin: 25px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vh;
}

.info-cuenta label:not(#primer-tipo-usuario):not(#segundo-tipo-usuario):not(#tercer-tipo-usuario){
    font: var(--fuente-sub-titulo);
    color: var(--color-gris);
}

#name, #lastname, #email, #phone, #pass, #cpass{ 
    width: 40%;
    height: 41px;
    border-radius: var(--radio-input);
    border: var(--boder-inputs);
    background: var(--color-fondo);
    padding: 0 20px;
}

#name, #lastname, #email{
    background: var(--color-gris);
    color: var(--color-blanco);
}

@media screen and (min-width:1024px) {
    #name, #lastname, #email, #phone, #pass, #cpass{ 
        width: 50%;
    }
}

.info-cuenta input:focus{
    background: var(--color-blanco-fondo);
    /* border: 0.75px solid var(--color-superadmin); */
    outline: 1.5px solid var(--color-usuario);
}

.nombre, .apellido, .tipo-de-usuario, .correo, .telefono, .contrasena, .confirmar-contrasena{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* FIN CONFIGURACION DE DATOS */

/* CONFIGURACION DEL SELECTOR TIPO DE USUARIO */
.tipo-de-usuario .contenedor-tipo-de-usuario{
    width: 27vw;
}

@media screen and (min-width:1336px) {
    .tipo-de-usuario .contenedor-tipo-de-usuario{
        width: 27.6vw;
    }
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario {
    display: flex;
    flex-direction: column;
  }
  
.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario .options-container-usuario {
    background: var(--color-gris);
    color: var(--color-blanco) !important;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.tipo-de-usuario .contenedor-tipo-de-usuario .selected-usuario {
    background: var(--color-gris);
    border-radius: var(--radio-input);
    margin-bottom: 8px;
    color: var(--color-blanco);
    position: relative;
    order: 0;
}
  
.tipo-de-usuario .contenedor-tipo-de-usuario .selected-usuario::after {
    content: "";
    background: url("../images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 5px;
    top: 8px;

    transition: all 0.4s;
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario .options-container-usuario.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario .options-container-usuario.active + .selected-usuario::after {
    transform: rotateX(180deg);
    top: -6px;
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario .options-container-usuario::-webkit-scrollbar {
    display: none;
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario .options-container-usuario::-webkit-scrollbar-thumb {
    background: var(--color-gris);
    border-radius: 0 8px 8px 0;
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario .option-user, .selected-usuario {
    padding: 12px 24px;
    cursor: pointer;
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario .option-user:hover {
    background: var(--color-blanco);
    color: var(--color-usuario);
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario label {
    cursor: pointer;
}

.tipo-de-usuario .contenedor-tipo-de-usuario .select-box-usuario .option-user .radio {
    display: none;
}
/* FIN CONFIGURACION DEL SELECTOR TIPO DE USUARIO */

/* CONFIGURACION DE LOS BOTONES CAMBIAR CANCELAR Y GUARDAR */
.guardar-cancelar{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.cambiar-imagen, .cancelar, .guardar, #pass{
    padding: 0 15px;
    height: 58px;
    border-radius: var(--radio-boton);
    font: var(--fuente-sub-titulo);
}
.cambiar-imagen, .guardar, #pass{
    background: var(--color-usuario);
    color: var(--color-blanco);
    border: none;
    justify-content: center;
    align-items: center;
}

.cambiar-imagen:hover, .guardar:hover, #pass:hover{
    background: var(--color-gris);
    color: var(--color-usuario);
    border: var(--border-boton-cancelar-usuario);
    cursor: pointer;
}

.cancelar{
    background: var(--color-blanco-fondo);
    color: var(--color-usuario);
    border: var(--border-boton-cancelar-usuario);
}
.cancelar:hover{
    background: var(--color-gris);
    color: var(--color-usuario);
    border: var(--border-boton-cancelar-usuario);
    cursor: pointer;
}

.guardar, .cancelar{
    width: 156px;
}
/* FIN CONFIGURACION DE LOS BOTONES CAMBIAR CANCELAR Y GUARDAR */


/* CONIGURACION MODAL */


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 500px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
  }

  .modal h2{
      font-size: 32px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:115%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  
  .close-modal {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  /* CLASS TO HIDE MODAL */
 .modal h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: var(--color-usuario);
    font: var(--fuente-super-titulo);
    font-variant: small-caps;
    font-size: 26px;
}
  .hidden {
    display: none;
  }
  
  .inputBox {
    position: relative;
    font: var(--fuente-texto);
    }

    .form-modal input[type="password"] {
        width: 95%;
        margin: 15px 0px;
        padding: 4px 0px;
        font-size: 1rem;
        letter-spacing: 0.062rem;
        margin-bottom: 1.875rem; 
        border: none;
        border-bottom: 3px solid var(--color-usuario);
        background: transparent;
    }
    .enviar {
        border: none;
        outline: none;
        color: var(--color-blanco);
        background-color: var(--color-usuario);
        padding: 0.625rem 1.25rem;
        cursor: pointer;
        border-radius: 0.312rem;
        font: var(--fuente-texto);
        /* float: right; */
    }
    .form-modal .inputBox label {
        position: absolute;
        top: 0;
        left: 10px;
        padding: 0.625rem 0;
        font-size: 1rem;
        color: var(--color-gris);
        pointer-events: none;
        transition: 0.5s;
    }
    .inputBox input:focus~label, .inputBox input:valid~label, .inputBox input:not([value=""])~label{
        top: -1.125rem;
        left: 10px;
        color: var(--color-usuario);
        font-size: 0.85rem;
        height: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .form-modal .inputBox input {
        outline: none;
    }
  
    .enviar:hover {
        background-color: #287ae6;
        box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
    }
    .show-modal{
        cursor: pointer;
        border: none;
        background: none;
        color: var(--color-usuario);
    }
    #coinciden{
        color: var(--color-usuario);
        align-items: flex-start;
    }
  /* FIN CONFIGURACION MODAL */