{% extends 'MasterPage.html' %}
{% block title %} Editar Proveedores {% endblock %}

{% block content %}
<link rel="stylesheet" href={{ url_for('static', filename='css/EditarProveedores.css' ) }}>

<form id="editprov-form" class="contenedor-proveedor" action="/GuardarProveedor" method="POST"
    enctype="multipart/form-data">
    <input type="hidden" id="id" name="id_proveedor" style="display: none;" value="{{ datosProveedor['id_proveedor'] }}">
    <div class="main_box">
        <div class="image_side">
            <div class="img">
                <img id="img-proveedor" src="{{ datosProveedor['src_imagen'] }}" alt="">
            </div>
          
            <div class="add_button" id="add">
                <label class="add" style="display: inline-flex;">
                    <input type="file" name="archivo" style="display: none;" accept="image/png, image/jpeg" 
                    onchange="document.getElementById('img-proveedor').src = window.URL.createObjectURL(this.files[0])" >
                    Cambiar imagen
                </label>
                
            </div>
        </div>

        <div class="inputs_side">
            <div class="formulario">
                <label for="name">Nombre del proveedor</label>
                <input type="text" name="nombre_proveedor" id="name" value="{{ datosProveedor['nombre_proveedor'] }}">
            </div>
            <div class="formulario">
                <label for="description">Descripción del proveedor</label>
                <textarea type="textarea" name="descripcion_proveedor" id="description" rows="4" cols="50">{{ datosProveedor['descripcion_proveedor'] }}</textarea>
            </div>
            <div class="buttons">
                <input type="button" name="submit_button" id="cancelar" class="cancelar" value="Cancelar" onclick="history.back()">
                <input type="submit" name="submit_button" id="guardar" class="guardar" value="Guardar"
                    onclick="guardar()">


            </div>
        </div>
    </div>
    {# Mostrar mensajes / errores si es que existen #}
    {% with mensajes_flash = get_flashed_messages() %}
        {% if mensajes_flash %}
        <script>
            alert('{{ mensajes_flash[0] }}');
        </script>
            
        {% endif %}
    {% endwith %}
</form>

{% endblock %}