{% extends 'MasterPage.html' %}
{% block title %} Inicio {% endblock %}

{% block content %}
<link rel="stylesheet" href={{ url_for('static', filename='css/index.css' ) }}>

<header class="header-paginas">
    <div class="encabezado-inicio">
        <div class="titulo">
            <h1>Bienvenido </h1><span>{{ userType }} </span>
            <h1>a SAIC Motor</h1>
        </div>
    </div>
</header>
<section class="section-index">

    <div class="ultimos-productos-titulo">
        <h2>Ultimos productos agregados</h2>
    </div>
    <div class="ultimos-productos">
        <div class="contenedor">
            {% for fila in range(3) %}
            <div class="contenedor-ultimos">
                <div class="imagen">
                    <img src="{{ consultaProductos[fila]['src_imagen'] }}" alt="">
                </div>
                <div class="informacion">
                    <div class="nombre-producto" id="name">
                        {{ consultaProductos[fila]['nombre_producto'] }}
                    </div>
                    <div class="nombre-proveedor">
                        Proveedor
                    </div>
                    <div class="disponible">
                        <p>Disponible</p><span>: 20</span>
                    </div>

                </div>
            </div>
            {% endfor %}
            
        </div>

    </div>

    <div class="ultimos-proveedores-titulo">
        <h2>Ultimos proveedores agregados</h2>
    </div>
    <div class="ultimos-proveedores">

        <div class="contenedor">
            {% for fila in range(consultaProveedor|length) %}
            <div class="contenedor-ultimos">
                <div class="imagen">
                    <img src="{{ consultaProveedor[fila]['src_imagen'] }}" alt="">
                </div>
                <div class="informacion">
                    <div class="nombre-proveedor" id="name">
                        {{ consultaProveedor[fila]['nombre_proveedor'] }}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>

    </div>
    
</section>
    <script>
        sessionStorage.setItem('userType', "{{ userType }}")
        sessionStorage.setItem('id',"{{ usuario[0] }}")
        sessionStorage.setItem('usuario',"{{ usuario[1] }} {{ usuario[2] }}")
        sessionStorage.setItem('imagen',"{{ usuario[3] }}")
    </script>

{% endblock %}