{% extends 'MasterPage.html' %} {% block content %}
<link rel="stylesheet" href={{ url_for( 'static', filename='css/listas.css' ) }}>
<header class="header-paginas">
    <div class="encabezado-listas">
        <div class="titulo">
            <h1>{% block title %} Listas {% endblock %}</h1>
        </div>

        <div class="boton-anadir">
            <a href="#"><button class="anadir"> Añadir Lista + </button></a>
        </div>

    </div>

</header>
<section class="listas">
    <div class="titulos">
        <div class="col-nombre">
            <h2>Nombre de Lista</h2>
        </div>
        <div class="col-cant">
            <h2>Cantidad de Productos : 25</h2>
        </div>
        <div class="opciones">
            <a href="#">
                <div class="boton-eliminar" onclick="eliminar()" onclick="eliminar()"></div>
            </a>

            <a href="{{url_for('AdminUser')}}">
                <div class="boton-editar"></div>
            </a>

        </div>

    </div>

    <div class="contenedor-subtitulos">
        <div class="subtitulos">
            <div class="product">
                <h2>NOMBRE DEL PRODUCTO</h2>
            </div>
            <div class="cantidad">
                <h2>CANTIDAD</h2>
            </div>
            <div class="proveed">
                <h2>NOMBRE PROVEEDOR</h2>
            </div>

        </div>
    </div>


    <div class="contenedor-detalle">
        <div class="detallado">
            <div class="boton">
                <span class="icon-radio-checked2"></span>
            </div>
            <div class="producto">
                <h2>Nombre del producto</h2>
            </div>
            <div class="cant">
                <h2>5</h2>
            </div>
            <div class="proveedor">
                <h2>Nombre del proveedor</h2>
            </div>

        </div>
    </div>


</section>
{% endblock %}