{% extends 'MasterPage.html' %}

{% block content %}
<link rel="stylesheet" href={{ url_for('static', filename='css/productos.css' ) }}>
<header class="header-paginas">
    <div class="encabezado-productos">
        <div class="titulo">
            <h1>{% block title %} Productos {% endblock %}</h1>
        </div>


        <form class="boton-anadir" action="/Editarproducto" method="POST">
            <div>
                <input type="submit" name="submit_button" id="anadir" class="anadir" value="Añadir +"
                    style="display: inline;">
            </div>
            <div class="botones-disponibilidad superadmin" id="botones-superadmin">
                <div class="boton-disponible">
                    <input type="submit" name="submit_button" id="bt-disponible" class="bt-disponible"
                        value="Disponible" style="display: inline;">

                </div>
                <div class="boton-nodisponible">
                    <input type="submit" name="submit_button" id="bt-nodisponible" class="bt-nodisponible"
                        value="No Disponible" style="display: inline;">

                </div>
            </div>
        </form>
    </div>

</header>

<section class="section-productos">
    {% for fila in range(lista|length) %}
    <div class="box-producto">
        <form class="contenedor" action="/Editarproducto" method="POST">

            <input type="hidden" name="id" value="{{ lista[fila]['id_producto'] }}">
            <input type="hidden" name="idproveedor" value="{{ lista[fila]['id_proveedor'] }}">

            <div class="logo-producto">
                <div class="imagen"><img src="{{ lista[fila]['src_imagen'] }}" alt=""></div>
            </div>

            <div class="boton-editar-eliminar">


                <label class="boton-eliminar"><input type="submit" name="submit_button" id="eliminar"
                        class="boton-eliminar" value="eliminar" style="display: none;"></label>
                <label class="boton-editar"><input type="submit" name="submit_button" id="editar" class="boton-editar"
                        value="editar" style="display: none;"></label>

            </div>

            <div class="box-fondo">
                <div class="titulo-producto">
                    {{ lista[fila]['nombre_producto'] }}
                </div>
                <div class="name-proveedor">
                    {{ lista[fila]['nombre_proveedor'] }}
                </div>
                <div class="disponibe">
                    Disponible: {{ lista[fila]['cantidad_disponible'] }}
                </div>
                <div class="puntuacion">
                    <div class="estrellas-outer">
                        <div class="estrellas-inner" style="width: {{ lista[fila]['calificacion'] }}rem;"></div>


                    </div>
                    <div class="valor">
                        {{ lista[fila]['calificacion'] }}
                    </div>
                </div>
                <div class="descripcion">
                    {{ lista[fila]['descripcion_producto'] }}
                </div>

            </div>
        </form>
    </div>

    {% endfor %}

    {# Mostrar mensajes / errores si es que existen #}
    {% with mensajes_flash = get_flashed_messages() %}
        {% if mensajes_flash %}
        <script>
            alert('{{ mensajes_flash[0] }}');
        </script>
            
        {% endif %}
    {% endwith %}

</section>
<script>

    if (sessionStorage.getItem('userType') == "usuario") {
        document.getElementById("anadir").style.display = "none";

    }
    else {
        document.getElementById("anadir").style.display = "";
    }
    if (sessionStorage.getItem('userType') == "superAdmin") {
        document.getElementById("botones-superadmin").style.display = "none";

    }
    else {
        document.getElementById("botones-superadmin").style.display = "";
    }

</script>

{% endblock %}