{% extends 'MasterPage.html' %}

{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename="css/proveedores.css" ) }}>

<header>
    <div class="encabezado">
        <div class="title">
            <h1>{% block title %}Proveedores{% endblock %}</h1>
        </div>
        <div class="btn">
            <button type="button">Añadir proveedor +</button>
        </div>
    </div>
</header>
<section>
    <div class="block">
        <article>
            <div class="container">
                <div class="supplier_img">
                    <img src={{ url_for('static', filename="images/proveedores.jpg" ) }} alt="">
                </div>
                <div class="description">
                    <div class="text">
                        <h3>Nombre de proveedor</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis
                            fermentum. Nulia dapibus at arcu ac iaculis.
                        </p>
                    </div>
                    <div class="buttons">
                        <div class="remove">
                            <a href="#">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                        <div class="edit">
                            <a href="#">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="container">
                <div class="supplier_img">
                    <img src={{ url_for('static', filename="images/proveedores.jpg" ) }} alt="">
                </div>
                <div class="description">
                    <div class="text">
                        <h3>Nombre de proveedor</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis
                            fermentum. Nulia dapibus at arcu ac iaculis.
                        </p>
                    </div>
                    <div class="buttons">
                        <div class="remove">
                            <a href="#">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                        <div class="edit">
                            <a href="#">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<script src="https://kit.fontawesome.com/1c83c64050.js" crossorigin="anonymous"></script>

{% endblock %}