{% extends 'MasterPage.html' %}

{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename="css/proveedores.css" ) }}>

<header class="header-paginas">
    <div class="encabezado-proveedores">
        <div class="title">
            <h1>{% block title %}Proveedores{% endblock %}</h1>
        </div>
        <div class="boton-anadir">
            <a href="{{url_for('EditarProveedores')}}"><button class="anadir">Añadir proveedor +</button></a>
        </div>
    </div>
</header>

<section class="proveedores">
    <div class="block">
        <article>
            <div class="container">
                <div class="supplier_img">
                    <img src={{ url_for('static', filename="images/proveedores.jpg" ) }} alt="">
                </div>
                <div class="description">
                    <div class="text">
                        <h3>Nombre de proveedor</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat iaculis
                            fermentum. Nulia dapibus at arcu ac iaculis.
                        </p>
                    </div>
                    <div class="buttons">
                        <a href="#">
                            <div class="remove" onclick="eliminar()">
                        </a>

                    </div>
                    <a href="{{url_for('AdminUser')}}">
                        <div class="edit"></div>
                    </a>

                </div>
            </div>
        </article>

        
    </div>

</section>


{% endblock %}