{% extends 'MasterPage.html' %}

{% block content %}
<script>
    document.body.classList.add(sessionStorage.getItem('userType'));
</script>
<link rel="stylesheet" href={{ url_for('static', filename='css/usuarios.css' ) }}>
<header class="header-paginas">
    <div class="encabezado-usuarios">
        <div class="titulo">
            <h1>{% block title %} Administrador de Usuarios {% endblock %}</h1>
        </div>

        <form class="boton-anadir" action="/AdminUser" method="POST">
            <input type="submit" name="submit_button" id="anadir" class="anadir" value="Añadir usuario +"
                style="display: inline;">
        </form>

    </div>

</header>
<section class="usuarios">
    <div class="titulos">
        <div class="col-nombre">
            <h2>Nombre de usuario</h2>
        </div>
        <div class="col-tipo">
            <h2>Tipo de usuario</h2>
        </div>
        <div class="col-correo">
            <h2>Correo</h2>
        </div>
        <div class="col-opciones">
            <h2></h2>
        </div>
    </div>

    {% for fila in range(ListaUsuarios|length) %}
        
        <div class="contenedor-usuarios">

            <form class="contenedor" action="/AdminUser" method="POST">
                <!-- Para pruebas, cambiar el valor de value segun el id del usuario -->
                <input type="hidden" name="id" value="{{ ListaUsuarios[fila]['id_persona'] }}">
                <div class="nombre">
                    <img src="{{ ListaUsuarios[fila]['imagen_src'] }}" alt="">
                    <p>{{ ListaUsuarios[fila]['nombre_persona'] }} {{ ListaUsuarios[fila]['apellido_persona'] }}</p>
                </div>
                <div class="tipo">
                    <p>{{ ListaUsuarios[fila]['descripcion_rol'] }}</p>
                </div>
                <div class="correo">
                    <p>{{ ListaUsuarios[fila]['email'] }}</p>
                </div>
                <div class="opciones">

                    <label class="boton-eliminar"><input type="submit" name="submit_button" id="eliminar"
                            class="boton-eliminar" value="eliminar" style="display: none;"></label>
                    <label class="boton-editar"><input type="submit" name="submit_button" id="editar" class="boton-editar"
                            value="editar" style="display: none;"></label>

                </div>
            </form>
        </div>
        
    {% endfor %}

    {# Mostrar mensajes / errores si es que existen #}
    {% with mensajes_flash = get_flashed_messages() %}
        {% if mensajes_flash %}
        <script>
            alert('{{ mensajes_flash[0] }}');
        </script>
            
        {% endif %}
    {% endwith %}
</section>

{% endblock %}